// ***********************************
// Mixins
// ***********************************
@mixin banner {
  color: $white;
  position: relative;
  width: 100%;

  .banner-content {
    position: absolute;
    top: 50px;
    width: 100%;
  }

  .title {
    font-weight: normal;
    margin-bottom: 30px;
  }

  img {
    width: 100%;
  }

  span {
    @include media-query(3000px, 1200px) {
      font-size: 68px;
    }
    display: block;
    font-size: $banner-heading;
    font-weight: bold;
    text-transform: uppercase;
  }
} // End of banner

@mixin clearfix {
  &::after { // Sudo Element ::
    clear: both;
    content: '';
    display: block;
  }
} // End of clearfix

@mixin grid($cols, $mgn) {
  float: left;
  margin-bottom: $mgn;
  margin-right: $mgn;
  width: ((100% - (($cols - 1) * $mgn)) / $cols);

  &:nth-child(#{$cols}n) {
    margin-right: 0;
  } // Psdo code every 5th element
}

@mixin media-query($arg...) { // don't know ... how many variables
  @if length($arg) == 1 {
    @media screen and (max-width: nth($arg, 1)) {
      @content;
    }
  }
  @if length($arg) == 2 {
    @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)) {
      @content;
    }
  }
}
