.services-section {
  h1 {
    color: $deep-blue;
    font-size: $section-heading;
    margin: 40px 0;
    text-align: center;
    text-transform: uppercase;
  }

}

.projects-section {
  h1 {
    color: $deep-blue;
    font-size: $section-heading;
    margin: 40px 0;
    text-align: left;
    text-transform: uppercase;
  }
}
